@model ShipModel
@using System.Linq;
@{
    Layout = null;

    List<CargoShip> CargoShipList = new List<CargoShip>();
    //if (ViewBag.CargoShip != null)
    //    CargoShipList = ViewBag.CargoShip;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        
          body { margin-top: 0px; }
        
        body, p {
            font-size: 12px;
        }

        h4 {
            font-size: 12px;
        }

        h1 {
            font-size: 14px;
            font-weight: bold;
        }



        hr {
            border: 1px solid black !important;
        }

        span {
            font-weight: bold;
            text-decoration: underline;
            margin: 5px;
        }

        ul {
            margin-bottom: 0
        }

        .marginLeft {
            margin-left: 17px
        }
        .Fontsize-ol {
            font-size: 9px;
        }
    </style>
</head>
<body>
	<div>

        <div class="col-12  ">
            <div class=" row" style="    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;

">
                <div>

                    <img src="~/img/img.png" width=100 />
                </div>
                <div class=" row" style="  width: 100%;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
                    ">
                    <h4 class="col-6  ">CERT. No. :@Model.Class_Id</h4>

                    <h1 class="align-content-center">
                        INTERIM CARGO SHIP SAFETY CONSTRUCTION CERTIFICATE
                    </h1>
                    <p style="width: 75%;">
                        This Certificate shall be supplemented by a Record of Equipment for
                        Cargo Ship Safety (FORM E)
                        Issued under the provisions of the
                        International Convention for the Safety of Life at Sea, 1974, as modified
                        by the Protocol of 1988 relating thereto 
                    </p>
                </div>

            </div>
        </div>
        <div class=" " style="display: flex;    justify-content: space-around;">
            <div class="col-6  ">
                <p>THE UNITED REPUBLIC OF TANZANIA</p>
                <h1 class="align-content-center">
                    By ROYAL BUREAU OF SHIPPING
                </h1>
            </div>
        </div>

        <div style="    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

">
            <table class="table table-bordered" style="margin-bottom:0;     width: 100%;">
                <thead>
                    <tr>
                        <th scope="col">Name of Ship</th>
                        <th scope="col">
                            Distinctive
                            Number of Letter
                        </th>
                        <th scope="col">Port of Registry</th>
                        <th scope="col">Gross Tonnage</th>
                        <th scope="col">
                            IMO
                            NUMBER
                        </th>


                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th>
                            @Model.VesselName
                        </th>
                        <th>@Model.DistinctiveNumber</th>
                        <th>@Model.Port_Of_Register</th>
                        <th>@Model.GrossTonnage</th>
                        <th>@Model.IMO_NO</th>
                    </tr>
                </tbody>
            </table>

        </div>
        <div>
            <p class="align-content-center">
                Deadweight of Ship (Metric tons)2
                :
            </p>   
            <p class="align-content-center">
                Length of Ship (Regulation III/3.12):
            </p> 
            <p class="align-content-center">
                Type of Ship4
                : Bulk Carrier / Oil Tanker / Chemical Tanker / Gas Carrier / Cargo Ship other than the above
            </p>
            <p class="align-content-center">
                Date on which keel was laid or ship was at a similar stage of construction or, where applicable, date on which work for a
                conversion or an alternation or modification of a major character was commenced:
            </p>
            <p class="align-content-center">
                This is to Certify:

            </p>  
            <p class="align-content-center">
                1 That the ship has been surveyed in accordance with the requirements of regulation I/8 of the Convention
            </p>  
            <p class="align-content-center">
                2 That the survey showed that:
            </p>
            <p class="align-content-center marginLeft">
                2.1 the ship complied with the requirements of the Convention as regards fire safety systems and
                appliances and firecontrol plans;
            </p>
            <p class="align-content-center marginLeft">
                2.2 the life-saving appliances and the equipment of the lifeboats, liferafts, and rescue boats
                were provided inaccordance with the requirements of the Convention;
            </p>
            <p class="align-content-center marginLeft">
                2.3 the ship was provided with a line-throwing appliance and radio installations used in life-saving
                appliances inaccordance with the requirements of the Convention;

            </p><p class="align-content-center marginLeft">
                2.4 the ship complied with the requirements of the Convention as regards shipborne navigational
                equipment, meansof embarkation for pilots and nautical publications;

            </p>
      <p class="align-content-center marginLeft">
                2.5 the ship was provided with lights, shapes and means of making sound signals and distress signals
                in accordancewith the requirements of the Convention and the International Regulations for
                Preventing Collisions at Sea in force;
            </p>
            <p class="align-content-center marginLeft">
                2.6 in all other respects the ship complied with the relevant requirements of the Convention;
                the ship was / was not4 subjected to an alternative design and arrangements in pursuance of
                regulation(s) II-2/17
            </p>
            <p class="align-content-center marginLeft">
                2.7 / III/384 of the Convention;

            </p>
            <p class="align-content-center marginLeft">
                2.8 a Document of approval of alternative design and arrangements for fire protection / life-saving
                appliances andArrangements is / is not4 appended to this Certificate.


            </p> 
            <p class="align-content-center ">
                3 That the ship operates in accordance with regulation III/26.1.1.13 within the limits of the trade area

                <span>@Model.PermissibleMarineAreas </span>
            </p>  
            <p class="align-content-center ">
                4 That an Exemption Certificate has / has not4 been issued.
            </p>
   
        </div>
        <div style="margin-top:5px ">
            <ol class="Fontsize-ol">
                <li class="align-content-center marginLeft">
                In accordance with IMO Ship Identification Number Scheme, adopted by resolution A.1117(30).

            </li>
                <li class="align-content-center marginLeft">
                For oil tankers, chemical tankers, and gas carriers only
                </li>
                <li class="align-content-center marginLeft">
                 Refer to the 1983 amendments to SOLAS (MSC.6(48)), applicable to ships constructed on or after 1 July 1986, but before 1 July 1998 in the case of se-rightingpartially enclosed lifeboat(s) on board.
            </li>
                <li class="align-content-center marginLeft">
                Delete as appropriate.
            </li>
            </ol>
        </div>
        <div>
            <p class="align-content-center  ">
                CARGO SHIP SAFETY EQUIPMENT CERTIFICATE NO.:    <span>@Model.Class_Id   </span>
            </p>
               <p class="align-content-center  ">
                NAME OF SHIP: <span> @Model.VesselName   </span>
            </p>
            <p class="align-content-center  ">
                IMO NO.: <span>@Model.IMO_NO  </span>
            </p>
            <hr/> 
        </div>
        <div>
            <p class="align-content-center  ">
                This certificate is valid until:   <span>@Model.Class_Id   </span>
            </p>
            <p class="align-content-center  ">
                Completion date of the survey on which this certificate is based: <span> @Model.VesselName   </span>
            </p>
            <p class="align-content-center  ">
                Issued at<span>@Model.IssuedAt</span> On <span>@Model.CreatedDate.ToString("yyyy/MM/dd")</span>
            </p>
            
        </div>
        <div style="
    display: flex;
    flex-direction: row-reverse;
">
            <div style=" width:50%;">
                <hr class="table table-bordered" />
                <p style="    text-align: center;font-weight: bold;">
                    ENG. I. ABDALLAH
                </p>

                <p style="    text-align: center;font-weight: bold;">
                    Surveyor to<span> ROYAL BUREAU OF SHIPPING</span>
                </p>
            </div>
            <div style=" width:50%;">
                <img src="@String.Format("/GeneratedQRCode/shipsafety/{0}.webp",Model.Id.ToString())" style="width: 100px;" />
            </div>
        </div>
    </div>
	 
	 
</body>
</html>

