@model ShipModel
@using System.Linq;
@{
    Layout = "_CertLayout";
}
@section Styles
    {
    <style type="text/css">
     body {
            font-size:14px !important;
     }
    </style>
}
<div class="page">
    <div class="row">
        <div class="col-12">
        <div class="col-5">
            <h1 class="text-hide" style="background-image: url('img\img.png'); width: 50px; height: 50px;">
                <img src="~/img/img.png" width=200 />
            </h1>
        </div>
        <div class="col-7 float-right">
            <h6 class="text-sm-right"> Certificate No.:<span> @Model.Class_Id</span></h6>
            <h3 class="text-sm-right">
                CERTIFICATE OF CLASS
                (INTERIM)
            </h3>
            <p class="col-9 float-right text-sm-right px-0">
                This certificate is accompanied with a Supplement. 
            </p> 
        </div>
        </div>


        <div class="col-4  mt-5 ">
            <p class="">
                This Certificate is issued to the
                :
            </p>
            <table class="table tableWithout mt-3">
                <tbody>
                    <tr>
                        <th class="  text-right"> IMO Number:</th>
                        <td class=" "> @Model.IMO_NO</td>
                    </tr>
                    <tr>
                        <th class=" text-right">
                            Distinctive Number or Letters:
                        </th>
                        <td class="   ">
                            @Model.DistinctiveNumber
                        </td>
                    </tr>
                    <tr>
                        <th class="  text-right">Port of Registry :</th>
                        <td class="  ">@Model.Port_Of_Register </td>
                    </tr>
                    <tr>
                        <th class="  text-right">Owner:</th>
                        <td class="  ">@Model.ShipOwner</td>
                    </tr>
                    <tr>
                        <th class=" text-right"> Place of build:</th>
                        <td class="   "> @Model.ShipAddress</td>
                    </tr>
                    <tr>
                        <th class="  text-right">
                            Year of build:
                        </th>
                        <td class="   "> @Model.Year  </td>


                    </tr>
                </tbody> 
            </table>

        </div>

        <div class="col-12 ">
            <p class="align-content-center">
                to confirm that having been surveyed by Royal Bureau of Shipping1 Surveyor at <span>@Model.DateBuildingContract.ToString("yyyy/MM/dd") </span>
                on<span>@Model.EffectiveDate.ToString("yyyy/MM/dd") </span> has been found in compliance with the Society’s Rules for the Classification and
                Construction of sea-going Ships.
            </p> 
        </div>
        <div class="col-9  float-center">
            <p class="">
                The aforementioned ship has been assigned the following Class notations.
            </p>
            <table class="table tableWithout">
                <tbody>
                    <tr>
                        <th class=" text-center">   Hull:</th>
                        <td class= " "> @Model.PortSurvey</td>
                    </tr>
                    <tr>
                        <th class="  text-center">
                            Machinery:
                        </th>
                        <td class="  ">
                            @Model.Machinery
                        </td>
                    </tr>
                    
                </tbody>
            </table>

        </div>


        <div class="col-12  float-center">
            <table class="table tableWithout">
                    <tbody>
                        <tr>
                        <td class=" text-center">  Period of Class running from :</td>
                            <td class=" "> @Model.CasualHistory.ToString("yyyy/MM/dd")</td>
                        <td class=" text-center"> Date of last Bottom Survey :</td>
                            <td class=" "> @Model.CompletionDateSurvey.ToString("yyyy/MM/dd")</td>
                        </tr>
                        <tr>
                        <td class=" text-center">  The Class is valid until :</td>
                            <td class=" ">@Model.ValidUntil.ToString("yyyy/MM/dd")</td>
                        <td class="text-center"> Date of last propeller shaft survey:</td>
                            <td class=""> @Model.LastPropeller.ToString("yyyy/MM/dd")</td>
                        </tr>

                    </tbody>
                </table>

            </div>
           
        
 
        <div class="col-12">
            <p class="styleIssued">
                Issued at <span class="text-justify">@Model.IssuedAt</span>on <span class="text-justify">@Model.CreatedDate.ToString("yyyy/MM/dd") </span>
            </p>
        </div>

        
        <div class="col-12">
            <div class="row d-flex">

                <img class="col-2 mr-auto p-2" src="@String.Format("/GeneratedQRCode/shipsafety/{0}.webp",Model.Id.ToString())" />

                <div class="col-6 p-2" style="margin-top: 75px">
                    <hr />
                    <h6 class="text-sm-center">
                        ENG. I. ABDALLAH
                    </h6>

                    <h6 class="text-sm-center">
                        Surveyor to<span> ROYAL BUREAU OF SHIPPING</span>
                    </h6>
                </div>
            </div>
        </div>
        <p style="font-size:9px; margin-top: 50px">
            1 Royal Bureau of Shipping endeavours to ensure that all its service function with every possible attention to accuracy. Nevertheless, Royal Bureau of Shipping cannot be held
            responsible for any mistake, error or omission in any report or Certificate issued by its Surveyors. The same applies to the Register Book issued, its appendices and to every
            relative publication. Similarly, Royal Bureau of Shipping cannot be held responsible for any negligence, omission, erroror judgement of their Surveyors, Representatives and
            Technical Advisors
        </p>
    </div>

</div>
