@model ShipModel
@using System.Linq;
@{
    Layout = null;
  
    List<CargoShip> CargoShipList = new List<CargoShip>();
    if (ViewBag.CargoShip != null)
        CargoShipList = ViewBag.CargoShip;
    }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body, p {
            font-size: 9px;
        }

        h4 {
            font-size: 12px;
        }

        h1 {
            font-size: 14px;
            font-weight: bold;
        }

        

        hr {
            border: 1px solid black !important;
        }

        span {
            font-weight: bold;
            text-decoration: underline;
            margin: 5px;
        }
        ul{margin-bottom:0}
    </style>
</head>
<body>


    <div class="container-fluid  " style="width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    margin: auto;">
        <div class="row content">

            <div class="col-12  ">
                <div class=" row" style=" width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
margin: 0;

">
                     
                    <img src="~/img/image2.png" width=100 />
                    <h1 class="align-content-center">
                        INTERIM CARGO SHIP SAFETY CONSTRUCTION CERTIFICATE
                    </h1>
                    <img src="~/img/img.png" width=100 />
                </div>
                <div class=" row" style="  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
">
                <p>
                    Issued under the provisions of the International Convention for the Safety of Life at Sea, 1974,
                    As modified by the protocol of 1988 relating thereto, under the Authority of the Government of
                </p>
                    <h1 class="align-content-center">THE UNITED REPUBLIC OF TANZANIA</h1>
                    <h1 class="align-content-center">
                    By ROYAL BUREAU OF SHIPPING
                </h1>
            </div>
            </div>
            <div class="justify-content-end" style="display: flex;">
                <div class="col-6  " style="border-style: solid;display: flex;">
                    <h4 class="col-6  ">CERT. No.</h4><h4 class="col-6  ">@Model.Class_Id</h4>
                </div>
            </div>
            <div style="    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

">
                <table class="table table-bordered" style="margin-bottom:0">
                    <thead>
                        <tr>
                            <th scope="col">Name of Ship</th>
                            <th scope="col">
                                Distinctive
                                Number of Letter
                            </th>
                            <th scope="col">Port of Registry</th>
                            <th scope="col">Gross Tonnage</th>
                            <th scope="col">
                                IMO
                                NUMBER
                            </th>
                             

                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <th>
                                @Model.VesselName
                            </th>
                            <td>@Model.DistinctiveNumber</td>
                            <td>@Model.Port_Of_Register</td>
                            <td>@Model.GrossTonnage</td>
                            <td>@Model.IMO_NO</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-12 "> 
                <p class="align-content-center">Deadweight of Ship1 <span>@Model.DeadweightShip</span> metric tons</p>
               
            </div>
            <div class="justify-content-end" style="display: flex;">
                <h1 style="margin: 0;">Type of Ship 2:</h1>

            </div>
            <div class="col-12  " style="    width: 69%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 11px; */
    justify-content: space-between;
    margin: 5px;
                  ">
             @foreach (CargoShip item in CargoShipList )
                    {
            <div> 
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="1" readonly @(item.Id == Model.CargoShipId ? "checked='checked'" : "")>
                <label for="vehicle1"> @item.Name</label><br>
                    </div>
                }
        
            </div>
            <div class="col-12">
                <div class=" row" >
                 
                    <ul>
                        <li>Date of building contract<span>@Model.DateBuildingContract.ToString("yyyy/MM/dd")</span></li>
                        <li>Date on which keel was laid or ship was at a similar stage of construction<span>@Model.CasualHistory.ToString("yyyy/MM/dd")</span></li>
                        <li>Date of delivery <span>@Model.DateDelivery.ToString("yyyy/MM/dd")</span></li>
                        <li>Date on which work for a conversion or an alteration or modification of major character was commenced (where applicable):<span>@Model.ExemptionCertificate.ToString("yyyy/MM/dd")</span></li>
                    </ul>
                </div>

            </div>
            <div class="col-12">
                <div class=" row">
                    <h1 style="margin: 0;">THIS IS TO CERTIFY:</h1>
                    <ul>
                        <li>
                            That this ship has been surveyed in accordance with the requirements of regulation I/10 of the Convention
                        </li>
                        <li>
                            That the surveyor showed that the condition of the structure, machinery and equipment as defined in the above regulation was satisfactory and the ship complied with the relevant requirements of Chapters II-1 and II-2 of the Convention (other than those relating to fire safety systems and appliances and fire Control plans).
                        </li>
                        <li>That The last two inspection of the outside of the ship’s bottom took place on</li>

                        <li>Date on which work for a conversion or an alteration or modification of major character was commenced (where applicable):<span>@Model.ExemptionCertificate.ToString("yyyy/MM/dd")</span></li>
                    
                    </ul>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">@Model.FirstPostOutInspection.ToString("yyyy/MM/dd")</th>
                                <th scope="col">
                                 and
                                </th>
                                <th scope="col">@Model.SecondPostOutInspection.ToString("yyyy/MM/dd")</th>
                            </tr>
                        </thead>
                        <tbody> 
                        </tbody>
                    </table>
                    <ul>
                        <li>
                            That an Exemption Certificate<span>@Model.ExemptionCertificate.ToString("yyyy/MM/dd")</span>been issued.
                        </li>
                        <li>
                            The ship was not / was subjected to an alternative design and arrangements in pursuance of regulation II-2/17 of the Convention;
                        </li>
                        <li>
                            A Document of approval of alternative design and arrangements for fire safety is not / is appended to this Certificate.
                        </li> 
                    </ul>
                </div>

            </div>
            <div class="col-12">

                <p>This Certificate is valid until <span>@Model.CertificateValid.ToString("yyyy/MM/dd")</span><p />
                <p>Subject to the annual and intermediate surveys and inspections of the outside of the ship’s bottom in accordance with Regulation I/10 of the Convention.</p>
                <h6>Completion date of the survey on which this certificate is based <span>@Model.CompletionDateSurvey.ToString("yyyy/MM/dd")</span></h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"> Issued at</th>
                            <th scope="col">@Model.IssuedAt</th>
                            <th scope="col">
                                On the
                            </th>
                            <th scope="col">@Model.CreatedDate.ToString("yyyy/MM/dd")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class=" row" style="    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
">
                <div style=" width:50%;">
                    <p style="    text-align: center;font-weight: bold;">
                        ENG. I. ABDALLAH
                    </p>
                    <hr class="table table-bordered" />
                    <p style="    text-align: center;font-weight: bold;">
                        Surveyor to<span > ROYAL BUREAU OF SHIPPING</span>
                    </p>
                </div>
                <div style=" width:50%;">
                    <img src="@String.Format("/GeneratedQRCode/shipsafety/{0}.webp",Model.Id.ToString())" style="width: 100px;" />
                </div>
            </div>
        </div>
    </div>


</body>
</html>
