@model ShipModel
@using System.Linq;
@{
    Layout = null;
  
    List<CargoShip> CargoShipList = new List<CargoShip>();
    //if (ViewBag.CargoShip != null)
    //    CargoShipList = ViewBag.CargoShip;
    }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body, p {
            font-size: 12px;
        }

        h4 {
            font-size: 12px;
        }

        h1 {
            font-size: 14px;
            font-weight: bold;
        }

        

        hr {
            border: 1px solid black !important;
        }

        span {
            font-weight: bold;
            text-decoration: underline;
            margin: 5px;
        }
        ul{margin-bottom:0}
    </style>
</head>
<body>


    <div class="container-fluid  " style="width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    margin: auto;">
        <div class="row content">

            <div class="col-12  ">
                <div class=" row" style="    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;

">
                   <div> 
                     
                    <img src="~/img/img.png" width=100 />
                </div>
                <div class=" row" style="  width: 100%;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
                    ">
                            <h4 class="col-6  ">CERT. No. :@Model.Class_Id</h4>

                        <h1 class="align-content-center">
                            INTERIM CARGO SHIP SAFETY CONSTRUCTION CERTIFICATE
                        </h1>
                        <p style="width: 50%;">
                        This Certificate shall be supplemented by a Record of Equipment for
                        Cargo Ship Safety Radio (FORM R)
                        Issued under the provisions of the
                        International Convention for the Safety of Life at Sea, 1974,
                    </p>
                    </div>
                
            </div>
            </div>
            <div class=" " style="display: flex;    justify-content: space-around;">
                <div class="col-6 " >
                    <p>THE UNITED REPUBLIC OF TANZANIA</p>
                    <h1 class="align-content-center">
                        By ROYAL BUREAU OF SHIPPING
                    </h1>
                </div>
            </div>
            <div style="    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

">
                <table class="table table-bordered" style="margin-bottom:0;     width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">Name of Ship</th>
                            <th scope="col">
                                Distinctive
                                Number of Letter
                            </th>
                            <th scope="col">Port of Registry</th>
                            <th scope="col">Gross Tonnage</th>
                            <th scope="col">
                                IMO
                                NUMBER
                            </th>
                             

                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <th>
                                @Model.VesselName
                            </th>
                            <th>@Model.DistinctiveNumber</th>
                            <th>@Model.Port_Of_Register</th>
                            <th>@Model.GrossTonnage</th>
                            <th>@Model.IMO_NO</th>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-12 "> 
                <p class="align-content-center">
                    Sea areas in which ship is certified to operate (regulation IV/2)
                    <span>@Model.PermissibleMarineAreas </span>
                </p>
                <p class="align-content-center">
                    Date on which keel was laid or ship was at a similar stage of construction or, where applicable, date on which work for a
                    conversion or an alternation or modification of a major character was commenced
                    <span>@Model.CasualHistory.ToString("yyyy/MM/dd")</span>
                </p>
                <p class="align-content-center">
                    This is to certify: 
                </p>
                <p class="align-content-center">
                    1. That the ship has been surveyed in accordance with the requirements of regulation I/9 of the Convention.
                </p>
                <p class="align-content-center">
                    2. That the survey showed that:
                </p>   
                <p class="align-content-center" style="margin-left: 17px">
                    2.1 the ship complied with the requirements of the Convention as regards radio installations;
                </p>  
                <p class="align-content-center" style="margin-left: 17px">
                    2.2 the functioning of the radio installations used in life-saving appliances complied with the requirements of
                    theConvention.
                </p> 
                <p class="align-content-center">
                    3. That an Exemption Certificate has / has not2 been issued. 
                </p>  
                <p class="align-content-center">
                    This certificate is valid until:<span>@Model.CertificateValid.ToString("yyyy/MM/dd")</span>
                </p>
                <p class="align-content-center">
                    Completion date of the survey on which this certificate is based: <span>@Model.CompletionDateSurvey.ToString("yyyy/MM/dd")</span>
                </p>
                <p class="align-content-center">
                    Issued at<span>@Model.IssuedAt</span> On <span>@Model.CreatedDate.ToString("yyyy/MM/dd")</span>
                </p>
            </div> 
            <div style="
    display: flex;
    flex-direction: row-reverse;
">
                <div style=" width:50%;">
                <hr class="table table-bordered" />
                    <p style="    text-align: center;font-weight: bold;">
                        ENG. I. ABDALLAH
                    </p>
                 
                    <p style="    text-align: center;font-weight: bold;">
                        Surveyor to<span > ROYAL BUREAU OF SHIPPING</span>
                    </p>
                </div>
                <div style=" width:50%;">
                    <img src="@String.Format("/GeneratedQRCode/shipsafety/{0}.webp",Model.Id.ToString())" style="width: 100px;" />
                </div>
            </div>
        </div>
        </div>
  


</body>
</html>
